#include </home/wilhem/.xrdb/witchy>

! Colors  
*background:   bg  
*foreground:   fg  
*color0:      blk  
*color8:      bblk  
*color1:      red  
*color9:      bred  
*color2:      grn  
*color10:     bgrn  
*color3:      ylw  
*color11:     bylw  
*color4:      blu  
*color12:     bblu  
*color5:      mag  
*color13:     bmag  
*color6:      cyn  
*color14:     bcyn  
*color7:      wht  
*color15:     bwht  

! Settings
URxvt.scrollBar:       false
URxvt.internalBorder:  50
URxvt.letterSpace:     0
URxvt.lineSpace:       0

! XFT Font Settings
Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

! Font
! URxvt.font: xft:Source Code Pro:size=9
! URxvt.font: -misc-tamsyn-medium-r-normal--17-120-100-100-c-0-iso8859-1
URxvt.font: xft:Misc Tamsyn:size=10
